<section class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="col mt-5 ms-4">
      <h1 class="text-wrap text-break text-uppercase fw-bold">
        Pay, Invest & Save Money with BrielTech
      </h1>
      <p class="fs-5">
        The modem way to control all your financial transactions in one place
        easy and securly
      </p>
      <div
        class="mt-5 mb-5 d-flex justify-content-evenly align-content-end w-100"
      >
        <img
          class=""
          src="../../assets/image/hompage images/appstore.svg"
          alt="App store"
        />
        <img
          class=""
          src="../../assets/image/hompage images/master card.svg"
          alt="Master card"
        />
        <img
          class=""
          src="../../assets/image/hompage images/Verse.svg"
          alt="Visa"
        />
        <img
          class=""
          src="../../assets/image/hompage images/PayPal (logo — White).svg"
          alt="PayPal"
        />
      </div>
    </div>
    <div class="col-sm-6">
      <img
        class="img-fluid img-thumbnail border-0 h-75 float-end me-5"
        src="../../assets/image/hompage images/hero image.svg"
        alt=""
      />
    </div>
  </div>
</section>
