<section class="container-fluid herocolor p-5 mt-5 h-auto">
  <div class="row mt-4">
    <div data-aos="fade-up" class="col ms-4">
      <h1 class="text-wrap text-break text-uppercase fw-bold mt-5">
        Pay, Invest & Save Money with BrielTech
      </h1>
      <p class="fs-5">
        The modem way to control all your financial transactions in one place
        easy and securly
      </p>
      <div class="mt-2 d-sm-none d-xs-none d-md-block d-lg-block">
        <button type="button" class="btn btn-dark rounded-0 m-4">
          Join Us
        </button>
        <button
          type="button"
          class="btn btn-outline-warning rounded-0 text-dark"
        >
          Read More
        </button>
      </div>
    </div>
    <div class="col-md-5 mt-2 heroimg">
      <img
        data-aos="fade-down"
        class="img-fluid img-thumbnail border-0 me-5 h-auto"
        src="../../assets/image/hompage images/hero img.jpg"
        alt=" hero img"
      />

      <div class="mt-2 d-none d-sm-block d-xs-block d-md-none">
        <button
          type="button"
          class="btn btn-dark rounded-0 m-4 btn-lg p-3 w-25"
        >
          Join Us
        </button>
        <button
          type="button"
          class="btn btn-outline-warning rounded-0 text-dark btn-lg p-3 w-25"
        >
          Read More
        </button>
      </div>
    </div>
  </div>
</section>
