<nav class="conatiner navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        class="img-fluid"
        src="../../assets/image/hompage images/BrielTech logo.svg"
        alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="mt-2 mx-auto navbar-nav mb-l g-0">
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="#">My Account</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="#">All Features</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true"
            >About Us</a
          >
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true"
            >Contact Us</a
          >
        </li>
      </ul>

      <button type="button" class="btn btn-outline-dark rounded-0 mt-2 me-4">
        Sign in
      </button>
      <button type="button" class="btn btn-dark rounded-0 mt-2">Sign up</button>
    </div>
  </div>
</nav>
