<section class="mt-5">
  <div class="col mx-5">
    <h3>What Else Can You Do With BrielTech ?</h3>
    <p>Here are couple of things you can do with BrielTech</p>
  </div>
  <div class="container row mx-3">
    <div class="col">
      <div class="row mb-3">
        <div class="col-sm-6 w-75 p-0 shadow rounded cardcolor">
          <div class="p-2">
            <div class="card-body">
              <h5 class="card-title fw-bold">Send Money</h5>
              <p class="card-text">Pay your Bills easily with just one click</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6 w-75 p-0 shadow rounded cardcolor">
          <div class="p-2">
            <div class="card-body">
              <h5 class="card-title fw-bold">Pay Bills</h5>
              <p class="card-text">Pay your Bills easily with just one click</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6 w-75 p-0 shadow rounded cardcolor">
          <div class="p-2">
            <div class="card-body">
              <h5 class="card-title fw-bold">Track A Transfer</h5>
              <p class="card-text">Pay your Bills easily with just one click</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="vl">
        <img src="../../assets/image/hompage images/scroller.png " alt="" />
      </div>
    </div>
    <div class="col"><img src="." alt="" /></div>
  </div>
</section>
