<section class="mx-5 mt-5" id="features">
  <div class="row">
    <p class="fw-bolder text-warning fs-5">Get Access with one click</p>
    <h2 class="text-uppercase fw-bold fs-2">How It Works</h2>
  </div>
  <div class="row mt-4">
    <div data-aos="zoom-in" class="col-md-4">
      <div class="card mb-3">
        <img
          src="../../assets/image/hompage images/register.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div data-aos="zoom-in-up" class="col-md-4">
      <div class="card mb-3">
        <img
          src="../../assets/image/hompage images/verified.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Get Verified</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>

    <div data-aos="zoom-in-down" class="col-md-4">
      <div class="card mb-3">
        <img
          src="../../assets/image/hompage images/access.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Access</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
